{% extends "base.html" %} {% block title %}Početna{% endblock %} {% block
content %}
<div class="container mt-4">
  <h2>Dostupni stolovi</h2>
  <div class="row">
    {% for table in tables %}
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Stol #{{ table.number }}</h5>
          <p class="card-text">Broj mjesta: {{ table.capacity }}</p>
          <a
            href="{{ url_for('reserve', table_id=table.id) }}"
            class="btn btn-success"
            >Rezerviraj</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
