{% extends "base.html" %} {% block title %}Admin login{% endblock %} {% block
content %}
<div class="container mt-5" style="max-width: 400px">
  <h3>Prijava administratora</h3>
  <form method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Korisničko ime</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Lozinka</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Prijava</button>
  </form>
</div>
{% endblock %}
