{% extends "base.html" %} {% block title %}Rezervacija{% endblock %} {% block
content %}
<div class="container mt-5" style="max-width: 600px">
  <h2 class="mb-4">Rezervacija stola</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Ime i prezime</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail adresa</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Datum i vrijeme</label>
      <input
        type="datetime-local"
        class="form-control"
        id="date"
        name="date"
        required
      />
    </div>
    <div class="mb-3">
      <label for="table" class="form-label">Odaberi stol</label>
      <select class="form-select" id="table" name="table_id" required>
        {% for table in tables %}
        <option value="{{ table.id }}">Stol #{{ table.number }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-success">Pošalji rezervaciju</button>
  </form>
</div>
{% endblock %}
