{% extends "base.html" %} {% block title %}Rezervacija{% endblock %} {% block
content %}
<div class="container mt-4">
  <h2>Rezervacija za stol #{{ table.number }}</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Ime i prezime</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email adresa</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Datum i vrijeme</label>
      <input
        type="datetime-local"
        class="form-control"
        id="date"
        name="date"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">
      Rezerviraj stol #{{ table.number }}
    </button>
  </form>
</div>
{% endblock %}
